.container {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--secondary-border-color);
  border-bottom: 0.5px;
  padding: 16px
}

.container:hover {
  background-color: var(--secondary-bg-color);

}

.container:last-child {
  border-bottom: 1px solid var(--secondary-border-color);
  border-radius: 0px 0px 6px 6px;
}

.title {
  margin: 0;
  margin-bottom: 8px;
}

.description {
  font-size: 12px;
  line-height: 18px;
  color: var(--secondary-text-color);
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.openIssueIcon {
  margin-right: 8px;
}

.comments {
  display: flex;
}

.commentIcon {
  vertical-align: middle;
  margin-right: 4px;
  font-weight: bold;
}

.commentText {
  color: var(--secondary-text-color);
  font-size: 12px;
  font-weight: bold;
}

.summary {
  display: flex;
  flex-direction: column;
  margin-right: 8px
}

.summary>a {
  /* all: unset; */
  color: black;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: var(--primary-link-color);

}