.header {
    border: 1px solid var(--secondary-border-color);
    border-bottom: 0.5px;
    border-radius: 6px 6px 0px 0px;
    padding: 16px;
    display: flex;
    align-items: center;
    background-color: var(--secondary-bg-color);
    justify-content: space-between;
    color: var(--secondary-text-color);
}

.issuesCount {
    display: flex;
}

.closeCount,
.openCount {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.open {
    margin-left: 6px;
    margin-right: 8px;

}

.active {
    color: black;
    font-weight: bold;
}