.label {
  border: 1px solid transparent;
  border-radius: 2em;
  height: fit-content;
  font-size: 12px;
  padding: 2px 8px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  margin-right: 4px
}